:root {
  --amber-100: #fef3c7;
  --amber-900: #78350f;
  --sky-50: #f0f9ff;
  --sky-200: rgb(186 230 253);
  --sky-300: rgb(125 211 252);
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-900: #0c4a6e;
  --slate-900: #0f172a;
  --slate-500: #64748b;
  --slate-300: #cbd5e1;
  --white: #ffffff;
  --error-bkg: rgb(255, 120, 120);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  background-image: url('img/judo2.jpg');  /* Points to the image file */
  background-size: cover;                  /* fills the screen */
  background-position: center;             /* Centers the image */
  background-attachment: fixed; 
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--slate-900);
  padding: 2rem;
  
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Layout ------------------- */

form {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 1rem;
}

.athlete-info {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 1rem;
}

.inputs-wrapper,
.outputs-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px 128px;
  flex: 1 0 auto;
}

.inputs-wrapper {
  background-color: var(--amber-100);
  border-radius: 15px;
  justify-content: center;
  box-shadow:  0 4px 12px rgba(0, 0, 0, 0.4);
}

.outputs-wrapper {
  justify-content: space-between;
  background-color: var(--sky-200);
  padding: 16px;
  border-radius: 8px;
  flex: 1 0 auto;
  box-shadow:  0 4px 12px rgba(0, 0, 0, 0.4);
}

.training-plan-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

.wrapper {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 32px 32px;
}

/* Atoms ------------------- */

h1,
h2 {
  text-align: center;
}
h1 {
  margin-bottom: 16px;
  color: rgb(255, 179, 0);
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
h2 {
  margin-bottom: 8px;
  color: rgb(255, 179, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

hr {
  margin-bottom: 16px;
}

label {
  font-size: 1rem;
  text-transform: none;
  letter-spacing: 0.5px;
  color: var(--slate-900);
  margin-bottom: 2px;
}

input,
select {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid var(--slate-500);
  border-radius: 4px;
  margin-bottom: 16px;
}

select {
  padding: 8px;
}
/* submit button */
button {
  background-color: var(--sky-600);
  border: 0;
  color: var(--sky-50);
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
  box-shadow: var(--sky-900) 0px 4px 5px;
  border-radius: 8px;
  transition: transform 200ms, box-shadow 200ms;
}
button:focus {
  background-color: var(--sky-500);
}
button:active {
  transform: translate(4px) translate(4px);
  background-color: var(--sky-600);
  box-shadow: var(--sky-900) 0px 0px 0px;
}
/* reset button */
#reset-button {
  margin-top: 16px;
  background-color: var(--slate-500);
  box-shadow: var(--slate-900) 4px 4px 0px;
  display: none; /* Hide by default */
}
#reset-button:focus {
  background-color: var(--slate-300);
}
#reset-button:active {
  box-shadow: var(--slate-900) 0px 0px 0px;
}
.information-field {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--white);
}
.output-field {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--white);
}
/* radio button */
.radio-button-field input {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.radio-button-field label {
  display: inline-block;
  background-color: var(--sky-200);
  color: var(--sky-600);
  padding: 4px 16px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 8px;
  transition: all 200ms;
}
.radio-button-field label:hover {
  background-color: var(--sky-300);
}
.radio-button-field input:checked + label {
  background-color: var(--sky-600);
  color: var(--sky-50);
}
/* error styles */
.error-input {
  background-color: var(--error-bkg);
  color: var(--brand-dark);
  border-color: var(--brand-dark);
}

.error-label {
  color: rgb(160, 0, 0);
}
.error-message ul {
  padding-left: 0;
}
.error-message ul li {
  color: rgb(255, 60, 60);
  font-weight: 800;
  font-size: 0.8rem;
  letter-spacing: 0.1px;
  list-style: none;
  margin-bottom: 0.5rem;
}
/* Style for Athlete info */
.results-detail {
  text-align: center;
}

.results-name {
  background-color: var(--sky-600);
  color: var(--white);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.2rem;
}

/* Hide elements with the 'hidden' class */
.hidden {
  display: none;
}

/* For phone size */
@media (max-width: 768px) {
  .inputs-wrapper,
  .outputs-wrapper {
    padding: 16px 16px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .wrapper {
    padding: 0 0px 0px;
  }
}